body{
    /* overflow:hidden; */
}
.mc{
    border-left: 1px solid;
    padding-left: 2vw;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 60vh;
    scroll-behavior: auto;
}
.comp{
    margin: 2vh 0vw;
    display: flex;
    flex-direction: column;
  
}
.cricket{
 display: flex;
 flex-direction: column;
 margin-bottom: 2vh;
}
.cric-img{
    width: 2rem;
}
.cric-p{
    display: inline-block;
    font-size: 15px;
}
.odi{
    padding-left: 10px;
    font-family: cursive;
    color: rgba(0, 0, 0, 0.849);
}