
.weather{
    margin-top: 4vh;
    width: fit-content;
    height: fit-content;
    padding: 1em 2rem 1rem 0rem;
    border-radius: 8px;
    display: flex;
}
#city{
    font-weight: bold;
    font-family: sans-serif;
}
#temp {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 700;
    display: contents;
}
#cl{
    border-left: 0.5px solid;
    padding-left: 2rem;
}